*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: ghostwhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}
#form-container{
    width: 50%;
    background-color: rgb(214, 204, 191);
    border-radius: 10px;
    max-width: 600px;
    padding: .5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#lottery-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
#results-container{
    background-color: rgb(214, 204, 191);
    border-radius: 10px;
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: .5em;
}

button{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
    border: 0;
    width: fit-content;
    padding: .5em;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    outline: .2em solid rgb(111, 111, 111);
}